<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Layout de Teste' name='description'>
    <title>Layout de Teste 2014.1</title>
    <link href='bower_components/pure/pure-min.css' rel='stylesheet'>
    <link href='css/font-icons.css' rel='stylesheet'>
    <link href='css/side-menu.css' rel='stylesheet'>
    <link href='css/custom.css' rel='stylesheet'>
    <script src='js/jquery-1.10.2.min.js'></script>
    <script>
      $(document).ready(function(){
        $(".pure-menu-heading").click(function(){
          $("#sidebar").toggle();
        })
      })
    </script>
  </head>
  <body>
    <div class='pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal navigation'>
      <a class='pure-menu-heading' href='#'>
        <span class='icon-menu'></span>
      </a>
      <ul class='actions'>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-text-size'></span>
          </a>
        </li>
      </ul>
      <ul class='sections'>
        <li>
          <a href='#'>
            <span class='icon-text'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-text'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-movie'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-write'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-arrow-left'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-arrow-right'></span>
          </a>
        </li>
      </ul>
    </div>
    <div id='sidebar'>
      <div class='info'>
        <div class='name'>
          <h2>Itamaraty: Atendimento ao Cidadão</h2>
        </div>
        <ul class='authors'>
          <li>Prof. Nidia Barone</li>
          <li>Prof. Sicrano Beltrano</li>
        </ul>
      </div>
      <ul class='topics'>
        <li>
          <a class='current' href='#'>Competências Essenciais do Servidor Público</a>
        </li>
        <li>
          <a href='#'>Tópico 02</a>
        </li>
        <li>
          <a href='#'>Tópico 03</a>
        </li>
        <li>
          <a href='#'>Tópico 04</a>
        </li>
      </ul>
    </div>
    <div id='main'>
      <div class='header'>
        <h1>Atendimento ao Cidadão</h1>
      </div>
      <div class='content'>
        <p>
          Felizmente, novos ventos estão soprando, graças especialmente ao surgimento desse novo modelo de gestão pública, em que, cada vez mais, aumenta a preocupação do servidor público em mudar essa imagem, surpreendendo o cidadão ao lhe oferecer um bom atendimento. E é para prestar esse bom atendimento ao cidadão, que são tidas como necessárias certas competências por parte do servidor público no desempenho de suas funções. Tais competências dizem respeito aos seus conhecimentos, suas habilidades e suas atitudes. Resta dizer, ainda, que o desenvolvimento e aplicação de tais competências, serão tanto melhor alcançados se envolvidos em um ambiente, onde reinem a motivação e o trabalho em equipe.
        </p>
        <div class='pure-g-r'>
          <div class='pure-u-1-4'>
            <img src='imgs/01.gif'>
            <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
          </div>
          <div class='pure-u-1-4'>
            <img src='imgs/02.gif'>
            <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
          </div>
          <div class='pure-u-1-4'>
            <img src='imgs/03.gif'>
            <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
          </div>
          <div class='pure-u-1-4'>
            <img src='imgs/01.gif'>
            <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
          </div>
        </div>
        <h2 class='content-subhead'>1.1 Conhecimento</h2>
        <p>
          Como parte integrante da competência profissional, o conhecimento resulta de sua formação acadêmica, da teoria estudada, do processo cognitivo de interpretação das informações adquiridas ao longo do tempo, de forma a se saber o que deve ser feito e compreender as tarefas a serem realizadas. Além da educação formal, as experiências vivenciadas no trabalho, nos treinamentos e a interação com outras pessoas, também são importantes fontes de conhecimento.
        </p>
      </div>
    </div>
  </body>
</html>
