<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Layout de Teste' name='description'>
    <title>Layout de Teste 2014.1</title>
    <link href='bower_components/pure/pure-min.css' rel='stylesheet'>
    <link href='css/font-icons.css' rel='stylesheet'>
    <link href='css/side-menu.css' rel='stylesheet'>
    <link href='css/jquery.fullPage.css' rel='stylesheet'>
    <link href='css/custom.css' rel='stylesheet'>
    <script src='js/jquery-1.10.2.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.cookie.js'></script>
    <script src='js/jquery.slimscroll.min.js'></script>
    <script src='js/jquery.fullPage.js'></script>
    <script>
      (function($) {
          $.fn.hasScrollBar = function() {
              return this.get(0).scrollHeight > this.innerHeight();
          }
      })(jQuery);
      $(document).ready(function(){
        // variáveis gerais
        var $sidebar = $("#sidebar");
        var $subsidebar = $("#subsidebar");
        var $window = $(window);
      
        // sidebar (menu)
        $(".pure-menu-heading").click(function(){
          var $sidebarOffset = $sidebar.offset();
          if ($sidebarOffset.left < 0) {
            $sidebar.animate({
              left: "0px"
            }, 300);
          } else {
            $sidebar.animate({
              left: "-"+$sidebar.width()
            }, 300);
          }
        });
      
        // subsidebar (slides)
        $("#submenu a").click(function(event){
          event.preventDefault();
          var $subsidebarOffset = $subsidebar.offset();
          if ($subsidebarOffset.left == $window.width()) {
            $subsidebar.animate({
              right: "0px"
            }, 300);
          } else {
            $subsidebar.animate({
              right: "-"+$subsidebar.width()
            }, 300);
          }
        })
      
        // botões de seções na barra de navegação e anchor dos slides
        $("#main .slide").each(function(index){
          // iniciando index em 1 (necessário para funcionar corretamente com o script fullPage)
          index++;
          // gerando anchor dos slides
          $(this).attr("data-anchor","slide"+index);
          // obter o tipo de seção
          $sectionType = $(this).data("section-type");
          // criar item de navegação correspondente
          $("#subsidebar .list").append("<li data-slide-target='slide"+index+"'><a href='#/slide"+index+"'><span class='icon-"+$sectionType+"'></span></a></li>" );
        });
      
        // tamanho da fonte
        var fontSmall = 12;
        var fontMedium = 16;
        var fontLarge = 20;
        var fontCookie = "UFCV-Aula-2014"
        var fontSize = fontMedium;
        // verifica se o cookie que armazena o tamanho da fonte já existe, do contrario o cria
        if ($.cookie(fontCookie)) {
          fontSize = $.cookie(fontCookie);
          // define o tamanho inicial da fonte da página
          $("#main").css("font-size", fontSize + "px");
          // adiciona classe indicando qual o tamanho atual da fonte 
          if (fontSize == fontSmall) {
            $(".font.small").addClass("current");
          }
          else if (fontSize == fontMedium) {
            $(".font.medium").addClass("current");
          }
          else {
            $(".font.large").addClass("current");
          }
        }
        else {
          $(".font.medium").addClass("current");
          $.cookie(fontCookie, fontSize);
        }
        // link da fonte grande
        $(".font").bind("click", function(event){
          event.preventDefault();
          if ($(this).hasClass("small")) {
            fontSize = fontSmall;
          }
          else if ($(this).hasClass("medium")) {
            fontSize = fontMedium;
          }
          else {
            fontSize = fontLarge;
          }
          $("#main").animate({"font-size": fontSize + "px"});
          $(".font").removeClass("current");
          $(this).addClass("current");
          $.cookie(fontCookie, fontSize);
        });
      
        // slider das seções
        $.fn.fullpage({
          verticalCentered: false,
          slidesNavigation: false,
          scrollOverflow: true,
          loopBottom: false,
          loopTop: false,
          loopHorizontal: false,
          resize: false,
          disableKeyboard: true,
          touch: false,
          afterRender: function() {
            $("#subsidebar li[data-slide-target=slide1]").addClass("current");
            $(".controlArrow").hide();
            $("#navigation .previous").addClass('disabled');
          },
          afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {
            // habilitando classe current apenas para o slide sendo exibido
            $("#subsidebar li").removeClass("current");
            $("#subsidebar li[data-slide-target="+slideAnchor+"]").addClass("current");
            // adicionando classe disable nas setas de navegação ao chegar no início ou fim
            var slidesTotal = $(".slide").size();
            var lastSlide = "slide"+slidesTotal;
            if (slideIndex == 0) {
              $("#navigation .previous").addClass('disabled');
            }
            else if (slideIndex == slidesTotal-1) {
              $("#navigation .next").addClass('disabled');
            }
            else {
              $("#navigation .previous, #navigation .next").removeClass("disabled");
            }
          }
        });
      
        //botões de avançar e voltar e desabilitando ao chegar no primeiro ou último slide
        $("#navigation .previous").click(function(event){
          event.preventDefault();
          if ($(".section.active .slide.active").data('anchor') != "slide1") {
            $(".section.active").find(".controlArrow.prev").trigger("click");
          }
        })
        $("#navigation .next").click(function(event){
          event.preventDefault();
          var slidesTotal = $(".slide").size();
          var lastSlide = "slide"+slidesTotal;
          if ($(".section.active .slide.active").data('anchor') != lastSlide) {
            $(".section.active").find(".controlArrow.next").trigger("click");
          }
        });
      
        // temp
        var $sidebarHeight = $window.height() - $("#navigation").height() + 2;
        $("#sidebar").css("height",$sidebarHeight);
        $("#subsidebar").css("height",$sidebarHeight);
      });
      
      $(window).resize(function(){
        var $sidebar = $("#sidebar");
        var $subsidebar = $("#subsidebar");
        var $window = $(window);
        var $sidebarHeight = $window.height() - $("#navigation").height() + 2;
        console.info($sidebarHeight);
        $("#sidebar, #subsidebar").css("height",$sidebarHeight);
        $("#subsidebar, #subsidebar").css("height",$sidebarHeight);
        if ($("#subsidebar").hasScrollBar()) {
          $("#subsidebar").css("width","70px");
        } else {
          $("#subsidebar").css("width","60px");
        }
      });
    </script>
  </head>
  <body>
    <div class='pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal' id='toolbar'>
      <a class='pure-menu-heading' href='#'>
        <span class='icon-menu'></span>
      </a>
      <ul class='actions'>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li class='font small'>
          <a href='#'>
            <span class='icon-text-size'></span>
          </a>
        </li>
        <li class='font medium'>
          <a href='#'>
            <span class='icon-text-size'></span>
          </a>
        </li>
        <li class='font large'>
          <a href='#'>
            <span class='icon-text-size'></span>
          </a>
        </li>
      </ul>
      <!-- TODO: renomear #navigation já que os botões de seções não ficam mais aqui -->
      <ul id='navigation'>
        <!-- as seções são adicionadas aqui automaticamente via javascript -->
        <li class='previous'>
          <a href='#'>
            <span class='icon-arrow-left'></span>
          </a>
        </li>
        <li class='next'>
          <a href='#'>
            <span class='icon-arrow-right'></span>
          </a>
        </li>
        <li id='submenu'>
          <a href='#'>
            <span class='icon-text-size'></span>
            <!-- TODO: substituir o ícone -->
          </a>
        </li>
      </ul>
    </div>
    <div id='subsidebar'>
      <ul class='list'>
        <!-- as seções são adicionadas aqui automaticamente via javascript -->
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-audio'></span>
          </a>
        </li>
        <li>
          <a href='#'>
            <span class='icon-print'></span>
          </a>
        </li>
      </ul>
    </div>
    <div id='sidebar'>
      <div class='info'>
        <div class='name'>
          <h2>Itamaraty: Atendimento ao Cidadão</h2>
        </div>
        <ul class='authors'>
          <li>Prof. Nidia Barone</li>
          <li>Prof. Sicrano Beltrano</li>
        </ul>
      </div>
      <ul class='topics'>
        <li>
          <a class='current' href='#'>Competências Essenciais do Servidor Público</a>
        </li>
        <li>
          <a href='#'>Tópico 02</a>
        </li>
        <li>
          <a href='#'>Tópico 03</a>
        </li>
        <li>
          <a href='#'>Tópico 04</a>
        </li>
        <li>
          <a href='#'>Tópico 05</a>
        </li>
        <li>
          <a href='#'>Tópico 06</a>
        </li>
        <li>
          <a href='#'>Tópico 07</a>
        </li>
        <li>
          <a href='#'>Tópico 08</a>
        </li>
        <li>
          <a href='#'>Tópico 09</a>
        </li>
        <li>
          <a href='#'>Tópico 10</a>
        </li>
        <li>
          <a href='#'>Tópico 04</a>
        </li>
        <li>
          <a href='#'>Tópico 02</a>
        </li>
        <li>
          <a href='#'>Tópico 03</a>
        </li>
        <li>
          <a href='#'>Tópico 05</a>
        </li>
        <li>
          <a href='#'>Tópico 06</a>
        </li>
        <li>
          <a href='#'>Tópico 07</a>
        </li>
      </ul>
    </div>
    <div class='section' id='main'>
      <div class='slide' data-section-type='text'>
        <div class='header'>
          <h1>Atendimento ao Cidadão b</h1>
        </div>
        <div class='content'>
          <p>
            Felizmente, novos ventos estão soprando, graças especialmente ao surgimento desse novo modelo de gestão pública, em que, cada vez mais, aumenta a preocupação do servidor público em mudar essa imagem, surpreendendo o cidadão ao lhe oferecer um bom atendimento. E é para prestar esse bom atendimento ao cidadão, que são tidas como necessárias certas competências por parte do servidor público no desempenho de suas funções. Tais competências dizem respeito aos seus conhecimentos, suas habilidades e suas atitudes. Resta dizer, ainda, que o desenvolvimento e aplicação de tais competências, serão tanto melhor alcançados se envolvidos em um ambiente, onde reinem a motivação e o trabalho em equipe.
          </p>
          <p>
            Felizmente, novos ventos estão soprando, graças especialmente ao surgimento desse novo modelo de gestão pública, em que, cada vez mais, aumenta a preocupação do servidor público em mudar essa imagem, surpreendendo o cidadão ao lhe oferecer um bom atendimento. E é para prestar esse bom atendimento ao cidadão, que são tidas como necessárias certas competências por parte do servidor público no desempenho de suas funções. Tais competências dizem respeito aos seus conhecimentos, suas habilidades e suas atitudes. Resta dizer, ainda, que o desenvolvimento e aplicação de tais competências, serão tanto melhor alcançados se envolvidos em um ambiente, onde reinem a motivação e o trabalho em equipe.
          </p>
          <div class='pure-g-r'>
            <div class='pure-u-1-4'>
              <img src='imgs/01.gif'>
              <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
            </div>
            <div class='pure-u-1-4'>
              <img src='imgs/02.gif'>
              <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
            </div>
            <div class='pure-u-1-4'>
              <img src='imgs/03.gif'>
              <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
            </div>
            <div class='pure-u-1-4'>
              <img src='imgs/01.gif'>
              <a href='http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg' target='blank'>Fonte</a>
            </div>
          </div>
          <h2 class='content-subhead'>1.1 Conhecimento</h2>
          <p>
            Como parte integrante da competência profissional, o conhecimento resulta de sua formação acadêmica, da teoria estudada, do processo cognitivo de interpretação das informações adquiridas ao longo do tempo, de forma a se saber o que deve ser feito e compreender as tarefas a serem realizadas. Além da educação formal, as experiências vivenciadas no trabalho, nos treinamentos e a interação com outras pessoas, também são importantes fontes de conhecimento.
          </p>
        </div>
      </div>
      <div class='slide' data-section-type='video'>
        <div class='header'>
          <h1>Teste de Seção de Vídeo</h1>
        </div>
        <div class='content'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, doloremque, laborum delectus nemo totam amet quod earum quas ullam accusantium mollitia repudiandae molestias aperiam soluta maxime nostrum minima ducimus perspiciatis.
          </p>
        </div>
      </div>
      <div class='slide' data-section-type='write'>
        <div class='header'>
          <h1>Teste de Seção de Exercício</h1>
        </div>
        <div class='content'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, doloremque, laborum delectus nemo totam amet quod earum quas ullam accusantium mollitia repudiandae molestias aperiam soluta maxime nostrum minima ducimus perspiciatis.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
