!!! 5
%html{:lang => 'pt-BR'}
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{'name' => 'description', :content => 'Layout de Teste'}
    %title Layout de Teste 2014.1
    %link{:rel => 'stylesheet', :href => 'bower_components/pure/pure-min.css'}
    %link{:rel => 'stylesheet', :href => 'css/font-icons.css'}
    %link{:rel => 'stylesheet', :href => 'css/side-menu.css'}
    %link{:rel => 'stylesheet', :href => 'css/jquery.fullPage.css'}
    %link{:rel => 'stylesheet', :href => 'css/custom.css'}
    %script{:src => 'js/jquery-1.10.2.min.js'}
    %script{:src => 'js/jquery-ui.min.js'}
    %script{:src => 'js/jquery.cookie.js'}
    %script{:src => 'js/jquery.slimscroll.min.js'}
    %script{:src => 'js/jquery.fullPage.js'}

    :javascript
      $(document).ready(function(){
        // variáveis gerais
        var $sidebar = $("#sidebar");
        var $window = $(window);

        // sidebar (menu)
        $(".pure-menu-heading").click(function(){
          var $sidebarOffset = $sidebar.offset();
          if ($sidebarOffset.left < 0) {
            $sidebar.animate({
              left: "0px"
            }, 300);
          } else {
            $sidebar.animate({
              left: "-200px"
            }, 300);
          }
        });

        // botões de seções na barra de navegação
        $("#main .slide").each(function(index){
          // iniciando index em 1 (necessário para funcionar corretamente com o script fullPage)
          index++;
          // obter o tipo de seção
          $sectionType = $(this).data("section-type");
          // criar item de navegação correspondente
          $("#subsidebar .list").append("<li data-slide-target='slide"+index+"'><a href='#/slide"+index+"'><span class='icon-"+$sectionType+"'></span></a></li>" );
        });

        // tamanho da fonte
        var fontSmall = 12;
        var fontMedium = 16;
        var fontLarge = 20;
        var fontCookie = "UFCV-Aula-2014"
        var fontSize = fontMedium;
        // verifica se o cookie que armazena o tamanho da fonte já existe, do contrario o cria
        if ($.cookie(fontCookie)) {
          fontSize = $.cookie(fontCookie);
          // define o tamanho inicial da fonte da página
          $("#main").css("font-size", fontSize + "px");
          // adiciona classe indicando qual o tamanho atual da fonte 
          if (fontSize == fontSmall) {
            $(".font.small").addClass("current");
          }
          else if (fontSize == fontMedium) {
            $(".font.medium").addClass("current");
          }
          else {
            $(".font.large").addClass("current");
          }
        }
        else {
          $(".font.medium").addClass("current");
          $.cookie(fontCookie, fontSize);
        }
        // link da fonte grande
        $(".font").bind("click", function(event){
          event.preventDefault();
          if ($(this).hasClass("small")) {
            fontSize = fontSmall;
          }
          else if ($(this).hasClass("medium")) {
            fontSize = fontMedium;
          }
          else {
            fontSize = fontLarge;
          }
          $("#main").animate({"font-size": fontSize + "px"});
          $(".font").removeClass("current");
          $(this).addClass("current");
          $.cookie(fontCookie, fontSize);
        });

        // slider das seções
        $.fn.fullpage({
          verticalCentered: false,
          slidesNavigation: false,
          scrollOverflow: true,
          loopBottom: false,
          loopTop: false,
          loopHorizontal: false,
          resize: false,
          disableKeyboard: true,
          afterRender: function() {
            $("#subsidebar li[data-slide-target=slide1]").addClass("current");
            $(".controlArrow").hide();
            $("#sections .previous").addClass('disabled');
          },
          afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {
            // habilitando classe current apenas para o slide sendo exibido
            $("#subsidebar li").removeClass("current");
            $("#subsidebar li[data-slide-target="+slideAnchor+"]").addClass("current");
            // adicionando classe disable nas setas de navegação ao chegar no início ou fim
            var slidesTotal = $(".slide").size();
            var lastSlide = "slide"+slidesTotal;
            if (slideIndex == 0) {
              $("#sections .previous").addClass('disabled');
            }
            else if (slideIndex == slidesTotal-1) {
              $("#sections .next").addClass('disabled');
            }
            else {
              $("#sections .previous, #sections .next").removeClass("disabled");
            }
          }
        });

        //botões de avançar e voltar e desabilitando ao chegar no primeiro ou último slide
        $("#sections .previous").click(function(event){
          event.preventDefault();
          if ($(".section.active .slide.active").data('anchor') != "slide1") {
            $(".section.active").find(".controlArrow.prev").trigger("click");
          }
        })
        $("#sections .next").click(function(event){
          event.preventDefault();
          var slidesTotal = $(".slide").size();
          var lastSlide = "slide"+slidesTotal;
          if ($(".section.active .slide.active").data('anchor') != lastSlide) {
            $(".section.active").find(".controlArrow.next").trigger("click");
          }
        });
      })

  %body
    .pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal.navigation
      %a.pure-menu-heading{:href => '#'}
        %span.icon-menu
      %ul.actions
        %li
          %a{:href => '#'}
            %span.icon-audio
        %li 
          %a{:href => '#'}
            %span.icon-print
        %li.font.small
          %a{:href => '#'}
            %span.icon-text-size
        %li.font.medium
          %a{:href => '#'}
            %span.icon-text-size
        %li.font.large
          %a{:href => '#'}
            %span.icon-text-size
      %ul#sections
        / as seções são adicionadas aqui automaticamente via javascript
        %li.previous 
          %a{:href => '#'}
            %span.icon-arrow-left
        %li.next
          %a{:href => '#'}
            %span.icon-arrow-right
        %li.font.large
          %a{:href => '#'}
            %span.icon-text-size
            / TODO: substituir o ícone
    #subsidebar
      %ul.list
        / as seções são adicionadas aqui automaticamente via javascript
    #sidebar
      .info
        .name
          %h2 Itamaraty: Atendimento ao Cidadão
        %ul.authors
          %li Prof. Nidia Barone
          %li Prof. Sicrano Beltrano
      %ul.topics
        %li
          %a.current{:href => '#'} Competências Essenciais do Servidor Público
        %li
          %a{:href => '#'} Tópico 02
        %li
          %a{:href => '#'} Tópico 03
        %li
          %a{:href => '#'} Tópico 04
    #main.section
      .slide{:data => {:section_type => 'text', :anchor => 'slide1'}}
        .header
          %h1 Atendimento ao Cidadão
        .content
          %p
            Felizmente, novos ventos estão soprando, graças especialmente ao surgimento desse novo modelo de gestão pública, em que, cada vez mais, aumenta a preocupação do servidor público em mudar essa imagem, surpreendendo o cidadão ao lhe oferecer um bom atendimento. E é para prestar esse bom atendimento ao cidadão, que são tidas como necessárias certas competências por parte do servidor público no desempenho de suas funções. Tais competências dizem respeito aos seus conhecimentos, suas habilidades e suas atitudes. Resta dizer, ainda, que o desenvolvimento e aplicação de tais competências, serão tanto melhor alcançados se envolvidos em um ambiente, onde reinem a motivação e o trabalho em equipe.
          %p
            Felizmente, novos ventos estão soprando, graças especialmente ao surgimento desse novo modelo de gestão pública, em que, cada vez mais, aumenta a preocupação do servidor público em mudar essa imagem, surpreendendo o cidadão ao lhe oferecer um bom atendimento. E é para prestar esse bom atendimento ao cidadão, que são tidas como necessárias certas competências por parte do servidor público no desempenho de suas funções. Tais competências dizem respeito aos seus conhecimentos, suas habilidades e suas atitudes. Resta dizer, ainda, que o desenvolvimento e aplicação de tais competências, serão tanto melhor alcançados se envolvidos em um ambiente, onde reinem a motivação e o trabalho em equipe.
          .pure-g-r
            .pure-u-1-4
              %img{:src => 'imgs/01.gif'}
              %a{:href => 'http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg', :target => 'blank'} Fonte
            .pure-u-1-4
              %img{:src => 'imgs/02.gif'}
              %a{:href => 'http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg', :target => 'blank'} Fonte
            .pure-u-1-4
              %img{:src => 'imgs/03.gif'}
              %a{:href => 'http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg', :target => 'blank'} Fonte
            .pure-u-1-4
              %img{:src => 'imgs/01.gif'}
              %a{:href => 'http://www.portaldoservidor.ba.gov.br/sites/default/files/Atendimento_Suprev.jpg', :target => 'blank'} Fonte
          %h2.content-subhead 1.1 Conhecimento
          %p
            Como parte integrante da competência profissional, o conhecimento resulta de sua formação acadêmica, da teoria estudada, do processo cognitivo de interpretação das informações adquiridas ao longo do tempo, de forma a se saber o que deve ser feito e compreender as tarefas a serem realizadas. Além da educação formal, as experiências vivenciadas no trabalho, nos treinamentos e a interação com outras pessoas, também são importantes fontes de conhecimento.
      .slide{:data => {:section_type => 'video', :anchor => 'slide2'}}
        .header
          %h1 Teste de Seção de Vídeo
        .content
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, doloremque, laborum delectus nemo totam amet quod earum quas ullam accusantium mollitia repudiandae molestias aperiam soluta maxime nostrum minima ducimus perspiciatis.
      .slide{:data => {:section_type => 'write', :anchor => 'slide3'}}
        .header
          %h1 Teste de Seção de Exercício
        .content
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, doloremque, laborum delectus nemo totam amet quod earum quas ullam accusantium mollitia repudiandae molestias aperiam soluta maxime nostrum minima ducimus perspiciatis.