// VARIÁVEIS
$sidebar-width: 185px;
$sidebar-item-padding: 10px;
$main-color: rgba(0, 84, 77, 1.0);
$button-width: 60px;
$subsidebar-width: $button-width;

// BARRA LATERAL DE INFORMAÇÃO E NAVEGAÇÃO ENTRE TÓPICOS (MENU)
#sidebar {
  //display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -$sidebar-width;
  width: $sidebar-width;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(60, 108, 104, 0.95);
  font-family: Helvetica, Verdana, sans-serif;

  .info {
    color: white;

    h2, ul {
      margin: 0;
    }

    .name {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0.5em 0.8em;
      font-variant: small-caps;
      text-align: center;

      h2 {
        font-weight: 200;
      }
    }

    .authors {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.5em 0.8em;
      list-style: none;
      font-weight: 300;
      font-size: 11pt;

      li {
        padding: 0.2em 0;
      }
    }
  }

  .topics {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      width: $sidebar-width - ($sidebar-item-padding * 2);
      margin-top: 0.2em;
      padding: $sidebar-item-padding;
      background-color: rgba(255, 255, 255, 0.1);
      text-decoration: none;
      color: white;
      font-weight: 200;
      font-size: 11pt;
    }

    .current {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

// BARRA LATERAL DE NAVEGAÇÃO ENTRE SEÇÕES
#subsidebar {
  z-index: 100;
  position: absolute;
  top: 0;
  right: -$subsidebar-width;
  width: $subsidebar-width;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: transparentize($main-color, 0.1);

  & [class^="icon-"], & [class*=" icon-"] {
    font-size: 1.3em;
    vertical-align: middle;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      a {
        display: inline-block;
        padding: 5px 20px 10px 20px;
        width: 20px;
        text-decoration: none;
        color: white;
        line-height: 2.4em;
        height: 30px;
      }

      a:hover, a:focus {
        background-color: rgba(255, 255, 255, 0.8);
        color: $main-color;
      }

      &.current {
        background-color: rgb(255, 255, 255);
        a {
          color: $main-color !important;
        }
      }
    }
  }
}

// BARRA DE AÇÕES E NAVEGAÇÃO ENTRE SEÇÕES
.pure-menu.pure-menu-open.pure-menu-fixed {
  top: auto;
  bottom: 0;
  border-bottom-width: 0;
  background-color: transparentize($main-color, 0.1);
  height: 3.0em;

  li a {
    color: white;
    line-height: 2.4em;
  }

  & > a {
    color: white;
    line-height: 2.8em;
  }

  & a:hover, & a:focus {
    color: $main-color;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.pure-menu.pure-menu-horizontal > ul {
  height: auto;
}

#toolbar {
  z-index: 105 !important;
  height: 50px;

  .pure-menu-heading {
    width: 20px;

    span {
      margin-left: -4px;
    }
  }

  li {
    width: $button-width;
    margin-right: -5px;
  }

  #navigation {
    float: right;

    li {
      margin-right: 0px;

      &.previous a, &.next a {
        width: 20px;

        span {
          margin-left: -4px;
        }
      }
      &.disabled {
        opacity: 0.5;

        & a:hover, & a:focus {
          background-color: transparent;
          cursor: default;
          color: white;
        }
      }
    }

    #submenu {
      position: relative;
      text-align: center;
      a {
        padding: 10px 10px 0 10px;
      }
      .slide-current {
        font-weight: bold;
        font-size: 1.0em;
      }
      .slide-total {
        font-weight: 100;
        font-size: 0.8em;
      }
      .icon-arrow-small-up { // TODO: substituir pela classe do icone correto quando atualizar
        position: absolute;
        top: 5px;;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
  }

  .font {
    &.small span{
      font-size: 0.9em;
    }
    &.medium span{
      font-size: 1.0em;
    }
    &.large span{
      font-size: 1.2em;
    }
    span {
      vertical-align: text-bottom;
    }
  }

  .current {
    background-color: rgb(255, 255, 255);
    a {
      color: $main-color !important;
    }
  }

  & [class^="icon-"], & [class*=" icon-"] {
    font-size: 1.3em;
    vertical-align: middle;
  }

  .icon-menu {
    font-size: 2.0em;
  }

  & .icon-arrow-right, & .icon-arrow-left {
    font-size: 1.8em;
  }
}

// SEÇÕES
#main {
  position: relative;
}